*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.flow[data-spacing="small"] {
  --flow-spacer: 0.25rem;
}
